@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes next-slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes next-slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes back-slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes back-slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    content: "";
  }
}

html {
  font-size: 10px;
}

#app {
  background: linear-gradient(to top left, #e66465, purple);
  //background: linear-gradient(to top left,#ff8a00,#e52e71);
  font-family: "Playfair Display", serif;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 50px 70px 50px;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;

  @media only screen and (max-width: 650px) {
    padding: 30px 30px 50px 30px;
  }
}

.intro {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 50px;
  //text-shadow: 0px 0px 10px purple;

  h1 {
    font-size: 5rem;
    font-weight: lighter;
  }

  h1,
  h2 {
    font-style: italic;
  }

  h2 {
    margin-bottom: 20px;
  }

  span {
    text-decoration: underline;
    color: #ff7a2a;
  }

  @media only screen and (max-width: 550px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 1.6rem;
    }
  }

  @media only screen and (max-width: 450px) {
    p {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 415px) {
    h1 {
      font-size: 3rem;
    }
  }
}

.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-bottom: 50px;
  box-shadow: 0px 15px 30px 0px #151515;
  border-style: solid;
  border-width: 3px;
  transition-duration: 0.5s;
  transition-property: border-color;

  .controls {
    position: absolute;
    z-index: 12121996; // <---- fun fact: this is my birthday
    height: 30px;
    width: 30px;
    background-color: purple;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;

    &--back {
      left: 25px;

      span {
        position: relative;
        border-left: 5px solid pink;
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid pink;
        border-bottom-left-radius: 1px;
        transform: translate3d(-3px, -1px, 0) rotateZ(30deg);

        &::before {
          position: absolute;
          border-top: 4px solid pink;
          width: 12px;
          border-top-right-radius: 10px;
          height: 15px;
          transform: rotateZ(-45deg) translate3d(8px, -3px, 0);
        }
      }
    }

    &--next {
      right: 25px;

      span {
        position: relative;
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid pink;
        border-bottom: 5px solid pink;
        border-bottom-right-radius: 1px;
        transform: translate3d(4px, -1px, 0) rotateZ(-34deg);

        &::before {
          position: absolute;
          border-top: 4px solid pink;
          width: 12px;
          border-top-left-radius: 10px;
          height: 15px;
          transform: rotateZ(45deg) translate3d(-17px, 5px, 0);
        }
      }
    }

    &:hover {
      height: 33px;
      width: 33px;
    }
  }

  & .slide {
    position: absolute;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 50px;
    z-index: 0;

    &__copy-message {
      position: absolute;
      top: 10px;
      font-size: 1.2rem;
      transition-duration: 0.5s;

      &.nope {
        top: 0;
        transform: translate3d(0, -100%, 0);
      }
    }

    &__shape {
      animation-name: fade-in;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      cursor: crosshair;
      position: relative;

      &--heart {
        position: relative;
        width: 100px;
        height: 90px;

        &::before,
        &::after {
          position: absolute;
          left: 50px;
          top: 0;
          width: 50px;
          height: 80px;
          background: red;
          border-radius: 50px 50px 0 0;
          transform: rotate(-45deg);
          transform-origin: 0 100%;
        }

        &::after {
          left: 0;
          transform: rotate(45deg);
          transform-origin: 100% 100%;
        }
      }

      &--pacman {
        width: 0px;
        height: 0px;
        border-right: 60px solid transparent;
        border-top: 60px solid orange;
        border-left: 60px solid orange;
        border-bottom: 60px solid orange;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
      }

      &--yin-yang {
        width: 96px;
        box-sizing: content-box;
        height: 48px;
        background: #eee;
        border-color: black;
        border-style: solid;
        border-width: 2px 2px 50px 2px;
        border-radius: 100%;
        position: relative;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          background: #eee;
          border: 18px solid black;
          border-radius: 100%;
          width: 12px;
          height: 12px;
          box-sizing: content-box;
        }

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          background: black;
          border: 18px solid #eee;
          border-radius: 100%;
          width: 12px;
          height: 12px;
          box-sizing: content-box;
        }
      }

      &--cut-diamond {
        border-style: solid;
        border-color: transparent transparent DodgerBlue transparent;
        border-width: 0 25px 25px 25px;
        height: 0;
        width: 50px;
        box-sizing: content-box;
        position: relative;
        margin-bottom: 50px;

        &:after {
          position: absolute;
          top: 25px;
          left: -25px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: DodgerBlue transparent transparent transparent;
          border-width: 70px 50px 0 50px;
        }
      }

      &--infinity {
        position: relative;
        width: 150px;
        height: 80px;
        box-sizing: content-box;

        &::before,
        &::after {
          content: "";
          box-sizing: content-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border: 15px solid green;
          border-radius: 40px 40px 0 40px;
          transform: rotate(-45deg);
        }

        &::after {
          left: auto;
          right: 0;
          border-radius: 40px 40px 40px 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  &--heart {
    border-color: red;
  }

  &--pacman {
    border-color: orange;
  }

  &--yin-yang {
    border-color: black;
  }

  &--cut-diamond {
    border-color: DodgerBlue;
  }

  &--infinity {
    border-color: green;
  }

  @media only screen and (max-width: 450px) {
    height: 300px;
  }
}

.code-wrapper {
  border-width: 3px;
  border-style: solid;
  background-color: pink;
  box-shadow: 0px 15px 30px 0px #151515;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  transition-property: border-color;
  transition-duration: 0.5s;

  .code {
    font-family: monospace;
    font-size: 1.2rem;
    white-space: pre-wrap;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding: 60px;
    width: 100%;

    &--last {
      position: absolute;

      &.slide-left {
        animation-name: back-slide-out;
      }

      &.slide-right {
        animation-name: next-slide-out;
      }
    }

    &--active {
      position: relative;

      &.slide-left {
        animation-name: back-slide-in;
      }

      &.slide-right {
        animation-name: next-slide-in;
      }
    }

    @media only screen and (max-width: 550px) {
      padding: 45px;
    }

    @media only screen and (max-width: 450px) {
      padding: 30px;
    }
  }

  &--heart {
    border-color: red;
  }

  &--pacman {
    border-color: orange;
  }

  &--yin-yang {
    border-color: black;
  }

  &--cut-diamond {
    border-color: DodgerBlue;
  }

  &--infinity {
    border-color: green;
  }
}
